#Import libraries

In [ ]:
import pandas as pd

#Import data set

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Salary Data.csv to Salary Data.csv

#Read data

In [ ]:
df = pd.read_csv('Salary Data.csv')

#Data understanding

In [ ]:
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5892 entries, 0 to 5891
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5892 non-null   object
 1   Salary Estimate    5892 non-null   object
 2   Rating             5892 non-null   float64
 3   Company Name       5892 non-null   object
 4   Location           5892 non-null   object
 5   Size               5892 non-null   object
 6   Founded            5892 non-null   object
 7   Type of ownership  5892 non-null   object
 8   Industry           5892 non-null   object
 9   Sector             5892 non-null   object
 10  Revenue            5892 non-null   object
dtypes: float64(1), object(10)
memory usage: 506.5+ KB

In [21]:
df['Job Title'].value_counts()

Job Title
data scientist               1793
analyst                      1048
other                        1009
data engineer                 764
machine learning engineer     162
manager                        67
researcher                     30
director                       15
deep learning engineer          3
Name: count, dtype: int64

In [22]:
df['State'].value_counts()

State
CA    1154
TX    1102
OH     380
IL     340
PA     303
NY     270
AZ     262
FL     227
MA     207
NJ     204
MI     181
VA     114
DC      72
MD      56
DE       9
WI       3
GA       1
ME       1
KY       1
NM       1
NH       1
IN       1
NC       1
Name: count, dtype: int64

In [23]:
df['Rating'].value_counts()

Rating
3.9    437
3.8    411
4.1    386
4.0    375
3.7    374
3.6    326
4.2    271
3.5    261
3.4    233
4.3    205
3.3    186
5.0    183
3.2    165
3.1    143
4.5    132
4.4    118
4.6     99
4.7     82
3.0     70
2.9     70
2.8     66
4.9     58
4.8     58
2.5     35
2.7     33
2.6     33
2.4     20
2.3     13
1.0     10
2.2      9
1.6      9
2.1      7
2.0      4
1.9      4
1.5      2
1.7      2
1.8      1
Name: count, dtype: int64

#Data cleaning

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('$', ' '))

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K', ' '))

In [ ]:
df = df[df['Salary Estimate']!= '-1']

In [ ]:
df = df[~df['Salary Estimate'].str.contains('Per Hour')]

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split())

In [ ]:
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: x[0])
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: x[2])

In [ ]:
df['Min Salary'] = df['Min Salary'].astype(int)
df['Max Salary'] = df['Max Salary'].astype(int)
df['Average Salary'] = (df['Min Salary'] + df['Max Salary']) / 2

In [ ]:
df['State'] = df['Location'].apply(lambda x: x.split()[-1])

In [ ]:
df = df[df['State'] != 'Kingdom']

In [ ]:
df = df[df['Rating']!= -1]

In [ ]:
def title_organizer(x):
  x = x.lower()
  if ('data scientist' in x) or ('data science' in x):
    return 'data scientist'
  elif 'data engineer' in x:
    return 'data engineer'
  elif 'deep learning' in x:
    return 'deep learning engineer'
  elif 'machine learning'in x:
    return 'machine learning engineer'
  elif 'director' in x:
    return 'director'
  elif 'manager' in x:
    return 'manager'
  elif 'analyst' in x:
    return 'analyst'
  elif 'researcher' in x:
    return 'researcher'
  else:
    return 'other'

In [ ]:
df['Job Title'] = df ['Job Title'].apply(title_organizer)

In [ ]:
df.drop(columns = ['Salary Estimate','Company Name','Location','Size', 'Founded', 'Type of ownership','Industry','Sector', 'Revenue', 'Min Salary', 'Max Salary'], inplace = True)

In [ ]:
df.head()

        Job Title  Rating  Average Salary State
0  data scientist     3.5           146.0    NY
1  data scientist     4.5           146.0    NY
3         analyst     3.4           146.0    NJ
4  data scientist     3.4           146.0    NY
5  data scientist     2.9           146.0    NY

In [ ]:
df.to_csv('cleaned_data.csv', index = False)